
@Styles.Render("~/Content/login.css")

@{
    ViewBag.Title = "Sign up";
}

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


<div class="signupbox">

    <h1>Tilmeld dig</h1>

    <form name="Tilmeld" method="post" action="@Url.Action("Signup", "Signup")">
        <hr>
        <div> <p style="visibility: @ViewBag.Visibility; color: red; font-size: 17px; width: 250px; height: 20px;">E-mail er allerede i brug</p> </div>
        <label id="icon" for="name"><i class="icon-user"></i></label>
        <input autocomplete="off" name="firstName" pattern="[a-zA-ZæøåÆØÅ]{1,20}$" type="text" id="name" placeholder="Fornavn" required oninvalid="this.setCustomValidity('Indtast et fornavn med 2-20 bogstaver')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="icon-user"></i></label>
        <input autocomplete="off" name="lastName" pattern="^[a-zA-ZæøåÆØÅ]+( [a-zA-ZæøåÆØÅ ]+)*$" type="text" id="name" placeholder="Efternavn" required oninvalid="this.setCustomValidity('Indtast et efternavn')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="icon-phone"></i></label>
        <input autocomplete="off" name="number" pattern="[0-9]{8}" type="tel" id="name" placeholder="Telefon nr." required oninvalid="this.setCustomValidity('Indtast et gyldigt telefonnummer')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="icon-home"></i></label>
        <input autocomplete="off" name="street" pattern="^[a-zA-ZæøåÆØÅ]+( [a-zA-ZæøåÆØÅ0-9-., ]+)*$" type="text" id="name" placeholder="Adresse" required oninvalid="this.setCustomValidity('Indtast en gyldig adresse')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="icon-screenshot"></i></label>
        <input autocomplete="off" name="zip" pattern="[0-9]{4}" type="tel" id="name" placeholder="Postnr." required oninvalid="this.setCustomValidity('Indtast et dansk postnummer')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="icon-building"></i></label>
        <input autocomplete="off" name="city" pattern="[a-zA-ZæøåÆØÅ]{1,20}$" type="text" id="name" placeholder="By" required oninvalid="this.setCustomValidity('Indtast en dansk by')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="icon-envelope "></i></label>
        <input autocomplete="off" name="email" pattern="[a-zA-ZæøåÆØÅ0-9._%+-]+@("@")[a-zA-ZæøåÆØÅ0-9.-]+\.[a-z]{2,}$" type="email" id="name" placeholder="E-mail" required oninvalid="this.setCustomValidity('Indtast en mailadresse')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="icon-shield"></i></label>
        <input autocomplete="off" name="password" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-ZÆØÅ])(?=.*[a-zæøå]).*$" id="name" placeholder="Kodeord" required oninvalid="this.setCustomValidity('Indtast minimum 8 tegn med tal, store og små bogstaver.')" oninput="setCustomValidity('')" />

        <p>Når du opretter en brugerkonto accepterer du vores <a href="#">Handelsbetingelser og regler om Databeskyttelse</a>.</p>
        <input type="submit" value="Tilmeld" class="button" />
    </form>
</div>