
@Styles.Render("~/Content/login.css")

@{
    ViewBag.Title = "Login";
}

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


<div class="box">

    <h1>Log på</h1>

    <form name="Login" method="post" action="@Url.Action("Login", "Login")">

        <hr>
        <div> <p style="visibility: @ViewBag.Visibility; color: red; font-size: 17px; width: 250px; height: 20px;">Forkert email eller kodeord</p> </div>
        <label id="icon" for="name"><i class="icon-envelope "></i></label>
        <input autocomplete="off" name="email" pattern="[a-zA-ZæøåÆØÅ0-9._%+-]+@("@")[a-zA-ZæøåÆØÅ0-9.-]+\.[a-z]{2,}$" type="email" id="name" placeholder="E-mail" required oninvalid="this.setCustomValidity('Indtast en mailadresse')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="icon-shield"></i></label>
        <input autocomplete="off" name="password" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-ZÆØÅ])(?=.*[a-zæøå]).*$" id="name" placeholder="Kodeord" required oninvalid="this.setCustomValidity('Indtast minimum 8 tegn med tal, store og små bogstaver.')" oninput="setCustomValidity('')" />


        <input type="submit" value="Log ind" class="loginbutton" />

        <p>Er du ikke medlem?</p>
        <a href="@Url.Action("Index", "Signup")">Tilmeld her</a>
    </form>
</div>

